<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>게시물 조회</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <!-- <link href="../static/css/styles.css" rel="stylesheet" /> -->
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        .row{
            margin: 10px 0;
        }
    </style>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="https://mingsound.shop">Start Bootstrap</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                    aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
                        class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="https://mingsound.shop/setting">Settings</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="https://mingsound.shop/register">Register</a></li>
                    <li><a class="dropdown-item" href="https://mingsound.shop/login">Login</a></li>
                    <li><a class="dropdown-item logoutBtn" href="https://mingsound.shop">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" href="https://mingsound.shop">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Interface</div>
                        <!-- <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Layouts
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="layout-static.html">Static Navigation</a>
                            <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                        </nav>
                    </div> -->
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                            aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Pages
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                    data-bs-target="#pagesCollapseAuth" aria-expanded="false"
                                    aria-controls="pagesCollapseAuth">
                                    Authentication
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                                    data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="https://mingsound.shop/login">Login</a>
                                        <a class="nav-link" href="https://mingsound.shop/login">Register</a>
                                        <a class="nav-link" href="https://mingsound.shop/404">Forgot Password</a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                    data-bs-target="#pagesCollapseError" aria-expanded="false"
                                    aria-controls="pagesCollapseError">
                                    Error
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <!-- <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="401.html">401 Page</a>
                                    <a class="nav-link" href="404.html">404 Page</a>
                                    <a class="nav-link" href="500.html">500 Page</a>
                                </nav>
                            </div> -->
                            </nav>
                        </div>
                        <!-- <div class="sb-sidenav-menu-heading">Addons</div>
                    <a class="nav-link" href="charts.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        Charts
                    </a>
                    <a class="nav-link" href="tables.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Tables
                    </a> -->
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Start Bootstrap
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4" style="margin-bottom: 30px;">게시물</h1>
                    
                    <h5 class="mt-4 boardTitle" style="margin-bottom: 30px;">게시물 제목</h5>
                    <div class="mt-4 boardWriter" style="margin-bottom: 30px;">작성자 : 누구누구</div>
                    <img src="image/skyblue_bgImg.jpg" class="rounded boardImage" alt="..." style="width : 50%; margin-bottom: 30px;">
                    <div class="boardContent" style="margin-bottom: 30px;">게시물 내용 어쩌구 저쩌구</div>

                    <button type="button" class="btn btn-danger deleteBtn">삭제</button>
                    <button type="button" class="btn btn-warning updateBtn">수정</button>

                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2022</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
    <script>
        axios.defaults.baseURL = "http://localhost:9000/boards";
        const boardId = localStorage.getItem("boardId");
        localStorage.removeItem("boardId");

        const $boardTitle = document.querySelector('.boardTitle');
        const $boardWriter = document.querySelector(".boardWriter");
        const $boardContent = document.querySelector(".boardContent");
        const $boardImage = document.querySelector('.boardImage');

        const $deleteBtn = document.querySelector(".deleteBtn");
        const $updateBtn = document.querySelector(".updateBtn");


        axios.get(`/${boardId}`)
        .then(response => {
            const isSuccess = response.data.isSuccess;
            
            if(isSuccess){
                const result = response.data.result;

                $boardTitle.innerText = result.boardTitle;
                $boardContent.innerText = result.boardContent;
                $boardWriter.innerText = result.writerName;  
                const imageName = result.imageName;

                if(imageName != null){ // 이미지가 있는 경우에만
                    axios.get(`/images/${imageName}`,{
                        responseType:'blob'
                    })
                    .then(response => {
    
                        if(response.data != ""){
                            // 데이터 받긴하는데 외계어로 받아서 이미지 안나오다가... responseType:blob이랑 아래처럼 처리하니까 이미지 나옴...
                            const url = window.URL.createObjectURL(new Blob([response.data], { type: response.headers['content-type'] } ));
                            $boardImage.src = url;
                        }
                    })
                    .catch(err => console.log(err));
                }
                

            }else{
                alert(response.data.message);
            }
        }).catch(err => console.log(err));

        // 삭제
        $deleteBtn.addEventListener("click", (event) => {
            axios.patch(`/${boardId}/status`)
            .then(response => {
                const isSuccess = response.data.isSuccess;

                if(isSuccess){
                    alert("성공적으로 삭제되었습니다.");
                    location.href = 'http://localhost:9000/board';
                }else{
                    alert(response.data.message);
                }
            })
            .catch(err => console.log(err));
        })

        // 수정
        $updateBtn.addEventListener("click", (event) => {
            localStorage.setItem("boardId", boardId);
            location.href = 'http://localhost:9000/boardUpdate';
        })
    </script>
</body>

</html>